.feed-container {
  display: block;
}
.feed-container-wrapper:first-child {
  padding: 10px 10px 0px 10px;
}
.feed-container-wrapper:not(:first-child, :last-child) {
  padding: 0px 10px 0px 10px
}
.feed-container-wrapper:last-child {
  padding: 0px 10px 10px 10px;
}
.feed-container-content {
  /*For more reading users experience*/
  max-width: 850px;
  font-weight: 600;
}
.feed-content-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feed-content-items a {
  all: unset;
  cursor: text;
}
@media (hover:none) {
  .feed-container-content {
    font-size: 28.5px;
    line-height: 35px;
  }
}
@media (hover:hover) {
  .feed-container-content {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (prefers-color-scheme: light) {
  .feed-content-items {
    color: white;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  }
}
@media (prefers-color-scheme: dark) {
  .feed-content-items {
    color: white;
  }
}