.nfp-container {
  display: block;
}
.nfp-container-wrapper {
  padding: 5px;
}
.nfp-container-content {
  max-width: 850px;
  font-size: 16px;
  word-wrap: break-word;
}
.nfp-container-content p {
  line-height: 16px;
}
.nfp-container-content a {
  all: unset;
  cursor: text;
  color: royalblue;
}