.container {
  display: block;
}
.container-wrapper {
  margin: 10px;
}
.content-title {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
}
.content-title a {
  all: unset;
  cursor: text;
}
.content-main p {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.content-main br {
  line-height: 23px;
}
.content-main a {
  all: unset;
  cursor: text;
  color: royalblue;
}
.content-main code {
  display: inline;
}
@media (prefers-color-scheme: light) {
  .content-main code {
    background-color: rgb(239, 241, 242);
  }
  .content-title {
    color: royalblue;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  }
}
@media (prefers-color-scheme: dark) {
  .content-main code {
    background-color: rgb(53, 57, 65);
  }
  .content-title {
    color: black;
    text-shadow: -1px 0px royalblue, 0px 1px royalblue, 1px 0px royalblue, 0px -1px royalblue;
  }
}
