.content {
    padding: 1vh 1vh 1vh 1vh;
    box-sizing: border-box;
    height: calc(var(--vh, 1vh) * 100 - 4.75vh);
    overflow: auto;
}
@media (prefers-color-scheme: light) {
    .content {
        border-left: black solid 1.375px;
        border-right: black solid 1.375px;
        border-bottom: black solid 1.375px;
    }
}
@media (prefers-color-scheme: dark) {
    .content {
        border-left: white solid 1.375px;
        border-right: white solid 1.375px;
        border-bottom: white solid 1.375px;
    }
}
.content h1 {
    font-weight: 500;
    font-size: 3.4vh;
    margin-bottom: 2.675vh;
}
.content h2 {
    font-weight: 500;
    font-size: 3.2vh;
    margin-bottom: 2.7vh;
}
.content p {
    font-size: 3vh;
    line-height: 3.4625vh;
}
.content br {
    padding-top: 3.4625vh;
    padding-bottom: 3.4625vh;
}
.content a {
    all: unset;
    cursor: pointer;
    color: royalblue;
}
@media (hover: hover) {
    .content a:hover {
        text-decoration: underline;
    }
}
@media (hover: none) {
    .content a:active {
        text-decoration: underline;
    }
}
.content b {
    font-weight: 600;
}
.content .strike {
    text-decoration: line-through;
}
.content i {
    font-style: italic;
}
@media (prefers-color-scheme: light) {
    .content code {
        background-color: rgb(239, 241, 242);
    }
}
@media (prefers-color-scheme: dark) {
    .content code {
        background-color: rgb(53, 57, 65);
    }
}
.content code {
    display: inline-block;
}
.content .second-list {
    margin-left: 2.7vh;
}
.content .third-list {
    margin-left: 3vh;
}
