.content {
    padding: 1vh 1vh 1vh 1vh;
    box-sizing: border-box;
    height: 95.75vh;
    font-size: 2.5vh;
    height: 95.75vh;
    overflow: auto;
}
@media (prefers-color-scheme: light) {
    .content {
        border-left: black solid 1.375px;
        border-right: black solid 1.375px;
        border-bottom: black solid 1.375px;
    }
}
@media (prefers-color-scheme: dark) {
    .content {
        border-left: white solid 1.375px;
        border-right: white solid 1.375px;
        border-bottom: white solid 1.375px;
    }
}
.content h1 {
    font-weight: 500;
    font-size: 2.8125vh; /*75 + 2.5 / 5 / 5 */
    padding-bottom: 2.1375vh; /* font-size / 2*/
}
.content h2 {
    font-weight: 500;
    font-size: 2.713125vh;
    padding-bottom: 2.017421875vh; /* font size / 2 / 2 - font size */
}
.content p, br {
    line-height: 3.0625vh; /* 3 + 25 / 2 / 2 */
}
.content a {
    all: unset;
    color: royalblue;
}
.content a:hover {
    text-decoration: underline;
}
.content .first-list {
    text-indent: 0;
}
.content .second-list {
    text-indent: 2.7vh;
}
.content .third-list {
    text-indent: 5.7vh;
}
.content b {
    font-weight: 500;
}
