.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4.25vh;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 3vh;
}
@media (prefers-color-scheme: light) {
    .header {
        border: black solid 1.375px;
    }
    .header-menu {
        border-right: black solid 1.375px;
    }
}
@media (prefers-color-scheme: dark) {
    .header {
        border: white solid 1.365px;
    }
    .header-menu {
        border-right: white solid 1.375px;
    }
}
.header-menu {
    padding: 0.5vh 1vh 0.5vh 1vh;
}
.header-menu a {
    all: unset;
}
.header-menu a:active {
    color: royalblue;
}
.header-title {
    padding: 0.5vh 1vh 0.5vh 1vh;
}
.header-title a {
    all: unset;
}
.header-title a:active {
    color: royalblue;
}
