.header {
    display: flex;
    flex-direction: row;
    height: 30px;
    font-size: 22.5px;
    font-weight: 600;
}
@media (prefers-color-scheme: light) {
    .header {
        border: black solid 1.375px;
    }
}
@media (prefers-color-scheme: dark) {
    .header {
        border: white solid 1.375px;
    }
}
.header-menu {
    all: unset;
    padding: 3px 6px 3px 6px;
}
@media (prefers-color-scheme: light) {
    .header-menu {
        border-right: black solid 1.375px;
    }
}
@media (prefers-color-scheme: dark) {
    .header-menu {
        border-right: white solid 1.375px;
    }
}
.header-menu:hover {
    color: royalblue;
}
.header-title {
    all: unset;
    padding: 3px 6px 3px 6px;
}
.header-title:hover {
    color: royalblue;
}
