.header {
  height: 25px;
  background-color: whitesmoke;
  outline: lightgray solid 1px;
}
.header-wrapper {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-navigator {
  font-size: 18px;
  line-height: 23px;
  padding: 0 10px 0 10px;
}
.header-navigator a {
  all: unset;
  cursor: text;
  color: dimgray;
}
.header-navigator a:hover {
  color: royalblue;
}
/* .header-wrapper {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-wrapper a {
    all: unset;
} */
